.layout
  aside.layout__item.guideList
    ul
        li: a.guideList__item(href="#buttons") buttons
        li: a.guideList__item(href="#feature-item") Feature item
        li: a.guideList__item(href="#news-item") News item
        li: a.guideList__item(href="#product-section") Product Section
        li: a.guideList__item(href="#intro") Intro
        li: a.guideList__item(href="#subSectionTitle") Sub section title
  main.layout__item--grow
      section.guideSection.guideSection--noBorder#buttons
        .section-title.guideSection__title
          h2.section-title__title Buttons
        div
          a.btn.violet_bg(href="#") Default btn
          br
          a.btn.green_bg(href="#") 
            span Button with icon
            -var icon = {case:"download"}
            include ../shared/_icon.pug
          br
          a.btn.btn--square.red_bg(href="#")
            -var icon = {case:"facebook"}
            include ../shared/_icon.pug
          br
          a.btn.btn--round.blue_bg(href="#") Round button
          br
          a.btn.yellow_bg.btn--cta(href="#") Call to Action
        a.btn.btn--block.gry_bg(href="#") block button
        div.btnHolder
          a.btn.btn--right.green_bg(href="#") floated right
          a.btn.btn--left.red_bg(href="#") floated left
          .clearfix

      section.guideSection#feature-item
        .section-title.guideSection__title
          h2.section-title__title Feature item
        div.row
          -
            var feature = {
              title :data.content[1].title,
              abstract :data.content[1].abstract,
              icon:data.icons[3],
              modifier:'feature-item--side '
            }
          -for(i =1; i <= 2; i++)
            .col-ls-6
              include ../components/_feature-item.pug
          -
            var feature = {
              title :data.content[1].title,
              abstract :data.content[1].abstract,
              icon:data.icons[4]
            }
          -for(i =1; i <= 2; i++)
            .col-ls-6
              include ../components/_feature-item.pug
      

      section.guideSection#news-item
        .section-title.guideSection__title
          h2.section-title__title News item
        div.row
          -
            var post = {
              img:data.content[0].img,
              caption:data.content[0].title,
              abstract:data.content[0].abstract,
              icon:{
                state:true,
                name:"video"
              },
              card:true,
              cardBounded:false,
              horizontal:false,
              over:false,
              date:false,
              padge:true
            }
          .col-ls-6.col-md-4
            h3.guideSection__title Card
            include ../components/_basic-post-view.pug
         
          -
            var post = {
              img:data.content[1].img,
              caption:data.content[1].title,
              abstract:false,
              icon:{
                state:true,
                name:"video"
              },
              card:true,
              cardSimple:true,
              cardBounded:false,
              horizontal:false,
              over:false,
              date:false,
              padge:false
            }
          .col-ls-6.col-md-4
            h3.guideSection__title Card Simple
            include ../components/_basic-post-view.pug
          
          
          -
            var post = {
              img:data.content[3].img,
              caption:data.content[3].title,
              abstract:data.content[3].abstract,
              icon:{
                state:true,
                name:"video"
              },
              card:true,
              cardBounded:true,
              horizontal:false,
              over:false,
              date:false,
              padge:false
            }
          .col-ls-6.col-md-4
            h3.guideSection__title Card Bounded
            include ../components/_basic-post-view.pug
          
          -
            var post = {
              img:data.content[4].img,
              caption:data.content[4].title,
              abstract:data.content[4].abstract,
              icon:{
                state:true,
                name:"video"
              },
              card:true,
              cardBounded:true,
              cardBoundedSimple:true,
              horizontal:false,
              over:false,
              date:false,
              padge:false
            }
          .col-ls-6.col-md-4
            h3.guideSection__title Card Bounded Simple
            include ../components/_basic-post-view.pug
          -
            var post = {
              img:data.content[5].img,
              caption:data.content[5].title,
              abstract:data.content[5].abstract,
              icon:{
                state:true,
                name:"video"
              },
              card:false,
              cardBounded:false,
              cardBoundedSimple:false,
              horizontal:true,
              over:false,
              date:true,
              padge:false
            }
          .col-ls-6
            h3.guideSection__title Horizontal
            include ../components/_basic-post-view.pug
          -
            var post = {
              img:data.content[6].img,
              caption:data.content[6].title,
              abstract:false,
              icon:{
                state:true,
                name:"video"
              },
              card:false,
              cardBounded:false,
              cardBoundedSimple:false,
              horizontal:true,
              horizontalSm:true,
              over:false,
              date:false,
              padge:false
            }
          .col-ls-6
            h3.guideSection__title Horizontal Sm
            include ../components/_basic-post-view.pug
          -
            var post = {
              img:data.content[7].img,
              caption:data.content[7].title,
              abstract:false,
              icon:{
                state:true,
                name:"video"
              },
              card:false,
              cardBounded:false,
              cardBoundedSimple:false,
              horizontal:false,
              horizontalSm:false,
              over:true,
              date:false,
              padge:false
            }
          .col-ls-6.col-md-4
            h3.guideSection__title over
            include ../components/_basic-post-view.pug
      section.guideSection#product-section
        .section-title.guideSection__title
          h2.section-title__title Product Section
        div.row
          include ../components/_product-section.pug
      section.guideSection#intro
        .section-title.guideSection__title
          h2.section-title__title Intro
          h3.guideSection__title callto Action
        div.row
          -
            var intro= {
              calltoAction:true
            }
          include ../components/_intro.pug
          
      section.guideSection#subSectionTitle
        .section-title.guideSection__title
          h2.section-title__title Sub section Title
        .row
          .heading
            h4.heading__title #{!rtl?"ترويسه عاديه":"normal heading"}
            .heading__list
              -for(i =0; i <= 2; i++)
                -if(i==0){activeClass="heading__listItem--active"}else{activeClass=""}
                a.heading__listItem(class=activeClass, href=data.sections.sub[i].link) #{data.sections.sub[i].name}
          .heading.heading--startWithList
            .heading__list
              -for(i =0; i <= 2; i++)
                -if(i==0){activeClass="heading__listItem--active"}else{activeClass=""}
                a.heading__listItem(class=activeClass, href=data.sections.sub[i].link) #{data.sections.sub[i].name}
            a.heading__more #{!rtl?"more":"المزيد"}