//-
  #Config object
  {
    img          : data.content[i].img,
    caption      : data.content[i].title,
    date         : true,
    abstract     : data.content[i].abstract,
    video        : false,
    over         : fale,
    card         : false,
    cardBounded  : true,
    horizontal   : true,
    horizontalSm : true,
  }
include ../components/_product-section.pug
-
  var intro= {
    calltoAction:true
  }
include ../components/_intro.pug
.category-title
  h1.container Post Items
section.section
  .container
    h2.section__mainTitle Prosthetic & Orthotic Services
    .sub-section-title
      h4.sub-section-title__title #{data.sections.titels[2]}
      .sub-section-title__list
        -for(i =0; i <= 2; i++)
          -if(i==0){activeClass="sub-section-title__listItem--active"}else{activeClass=""}
          a.sub-section-title__listItem(class=activeClass, href=data.sections.sub[i].link) #{data.sections.sub[i].name}
    .row  
      -var iconType = ["sound","image","play"]
      -for(i =0; i <= 2; i++)
        -
          var post = {
            img:data.content[i].img,
            caption:data.content[i].title,
            abstract:data.content[i].abstract,
            icon:{
              state:true,
              name:iconType[i]
            },
            card:true,
            cardBounded:true,
            horizontal:false,
            over:false,
            date:false,
            padge:true
          }
        .col-ls-6.col-md-4
          include ../components/_basic-post-view.pug
      .clearfix

section.section.section--offWhite
  .container
    .row
      .col-sm-6.section__TextArea
        h2.section__mainTitle Explore ABC
        p.section__abstract In collaboration with our Medical Advisors & International Companies/Partners we are providing innovative products that targeting Chronic/Genetic Diseases .
        img.section__Img(src="img/content/hand.png")
      .col-sm-6.section__TextAreaSibling
        .row
          -var iconType = ["sound","image","play"]
          -for(p =0; p <= 3; p++)
            -
              var modifierClass= " section__noMarginItem "
              var post = {
                img:data.content[p].img,
                caption:data.content[p].title,
                abstract:false,
                icon:{
                  state:true,
                  name:iconType[i]
                },
                card:true,
                cardSimple:true,
                cardBounded:false,
                cardBoundedSimple:true,
                horizontal:false,
                date:false
              }
            .col-ls-6.col-md-6
              include ../components/_basic-post-view.pug
          .clearfix
      .clearfix
      
section.section
  .container
    h2.section__mainTitle Prosthetic & Orthotic Services
    -for(var o=0;o<2;o++)
      .sub-section-title
        h4.sub-section-title__title #{data.sections.titels[2]}
        .sub-section-title__list
          -for(i =0; i <= 2; i++)
              -if(i==0){activeClass="sub-section-title__listItem--active"}else{activeClass=""}
              a.sub-section-title__listItem(class=activeClass, href=data.sections.sub[i].link) #{data.sections.sub[i].name}
      .row.sub-section-body 
        
        -var iconType = ["sound","image","play"]
        -for(i =0+o; i <= 3+o; i++)
          -
            var post = {
              img:data.content[i].img,
              caption:data.content[i].title,
              abstract:false,
              icon:{
                state:true,
                name:iconType[i]
              },
              card:true,
              cardBounded:true,
              cardBoundedSimple:true,
              horizontal:false,
              date:false
            }
          .col-ls-6.col-md-3
            include ../components/_basic-post-view.pug
        .clearfix



section.section.section--offWhite
  .container
    h2.section__mainTitle.section__mainTitle--center Prosthetic & Orthotic Services
 
    .row
      -for(i =0; i <= 2; i++)
        -
          var post = {
              img:data.content[i].img,
              caption:data.content[i].title,
              abstract:data.content[i].abstract,
              over:false,
              horizontal:false,
              date:false,
              card:true
            }
        .col-ls-6.col-md-4
          include ../components/_basic-post-view.pug

      .clearfix
section.section
  .container
    h2.section__mainTitle.section__mainTitle--center Partners
    
    include ../components/_clients-table.pug
    .clearfix


section.section
  .container
    h2.section__mainTitle.section__mainTitle--center Share widget
    include ../components/_share-widget.pug
    .clearfix
include ../components/_qoutes.pug

section.section.section--offWhite
  .container
    .sub-section-title
      h4.sub-section-title__title #{data.sections.titels[1]}
      .sub-section-title__list
        -for(i =0; i <= 2; i++)
            -if(i==0){activeClass="sub-section-title__listItem--active"}else{activeClass=""}
            a.sub-section-title__listItem(class=activeClass, href=data.sections.sub[i].link) #{data.sections.sub[i].name}
    .row
      -for(i =3; i <= 5; i++)
        -var post = {img:data.content[i].img,caption:data.content[i].title,abstract:data.content[i].abstract, card:true, horizontal:false,date:true,card:true}
        .col-ls-6.col-md-4
          include ../components/_basic-post-view.pug 
      .clearfix

section.section
  .container
    .sub-section-title
      h4.sub-section-title__title #{data.sections.titels[3]}
      .sub-section-title__list
        -for(i =0; i <= 2; i++)
            -if(i==0){activeClass="sub-section-title__listItem--active"}else{activeClass=""}
            a.sub-section-title__listItem(class=activeClass, href=data.sections.sub[i].link) #{data.sections.sub[i].name}
    .row
      -for(i =0; i <= 2; i++)
        .col-sm-12
          -var post = {img:data.content[i].img,caption:data.content[i].title,abstract:data.content[i].abstract,icon:false, card:false, horizontal:true,date:true}
          include ../components/_basic-post-view.pug    
      .clearfix
section.section.section--offWhite
  .container
    .sub-section-title
      h4.sub-section-title__title #{data.sections.titels[0]}
      .sub-section-title__list
        -for(i =0; i <= 2; i++)
            -if(i==0){activeClass="sub-section-title__listItem--active"}else{activeClass=""}
            a.sub-section-title__listItem(class=activeClass, href=data.sections.sub[i].link) #{data.sections.sub[i].name}
    .row
      -for(i =3; i <= 5; i++)
        .col-sm-12
          -var post = {img:data.content[i].img,caption:data.content[i].title,abstract:false,icon:false, card:false, horizontal:true,date:true,horizontalSm:true}
          include ../components/_basic-post-view.pug
      .clearfix
section.section
  .container
    h2.section__mainTitle.section__mainTitle--center Features
    .row
      -for(i =0; i <= 2; i++)
        -
          var feature = {
            title :data.content[1].title,
            abstract :data.content[1].abstract,
            icon:data.icons[i],
            modifier:'feature-item--side '
          }
        .col-ls-6.col-md-4
          include ../components/_feature-item.pug
      -for(i =0; i <= 2; i++)
        -
          var feature = {
            title :data.content[1].title,
            abstract :data.content[1].abstract,
            icon:data.icons[i],
            modifier:''
          }
        .col-ls-6.col-md-4
          include ../components/_feature-item.pug
    .clearfix